﻿@inherits CalculateCompayVatComponentBase

@if (this.isInProgress)
{
	<HourGlass />
}
else
{
	<h5 class="text-center">Add New Companywise VAT for Bill</h5>
	<hr />

	@if (this.isSuccess)
	{
		<h5 class="bg-success text-center text-white p-2 m-2">
			@($"VAT of company calculated successfully.")
		</h5>
	}
	else if (this.alreadyExists)
	{
		<h5 class="bg-warning text-center p-2 m-2">
			@($"VAT of company with this bill number already calculated. Please try another.")
		</h5>
	}
	else if (!this.isSuccess && this.submitClicked)
	{
		<h5 class="bg-danger text-center text-white p-2 m-2">
			@($"VAT of compay calculattion failed.")
		</h5>
	}

	<EditForm Model="@this.ViewModel" OnValidSubmit="OnSubmitAsync">
		<DataAnnotationsValidator />
		<ValidationSummary />
		<datalist id="companyNames">
			@foreach (CompanyViewModel company in this.companyViewModels)
			{
				<option value="@company.Name" />
			}
		</datalist>
		<datalist id="vatOrPanNos">
			@foreach (CompanyViewModel company in this.companyViewModels)
			{
				<option value="@company.TaxTypeNumber" />
			}
		</datalist>
		<div class="row">
			<div class="col-md-3">
				<p class="form-group">
					<label for="@ViewModel.VatPercentage">VAT(%)<span style="color:red">*</span>: </label>
					<input type="text" id="@ViewModel.VatPercentage" required placeholder="Enter Vat Percentage" title="Enter Vat Percentage" class="form-control" @bind="ViewModel.VatPercentage" />
					<ValidationMessage For="@(() => ViewModel.VatPercentage)"></ValidationMessage>
				</p>
				<p class="form-group">
					<label for="@ViewModel.BillNumber">Bill Number<span style="color:red">*</span>: </label>
					<input id="@ViewModel.BillNumber" placeholder="Enter Bill Number" title="Enter Bill Number" class="form-control" @bind="ViewModel.BillNumber" />
					<ValidationMessage For="@(() => ViewModel.BillNumber)"></ValidationMessage>
				</p>
			</div>
			<div class="col-md-3">
				<p class="form-group">
					<label for="@ViewModel.Company.Name">Company Name<span style="color:red">*</span>: </label>
					<input id="@ViewModel.Company.Name" list="companyNames" placeholder="Enter Company Name" disabled="@this.isVatOrPan" @onblur="@(e => IsCompanyName())" title="Enter Company Name" class="form-control" @bind="ViewModel.Company.Name" />
					<ValidationMessage For="@(() => ViewModel.Company.Name)"></ValidationMessage>
				</p>
				<p class="form-group">
					<label for="@ViewModel.Company.TaxTypeNumber">
						@{
							string value = "PAN No.";
							if (ViewModel.Company.TaxType != TaxType.PAN)
							{
								value = "VAT No.";
							}
						}
						@value<span style="color:red">*</span>:
					</label>
					<input id="@ViewModel.Company.TaxTypeNumber" list="vatOrPanNos" disabled="@this.isCompanyName" @onblur="@(e => IsVatOrPan())" placeholder="Enter @value" title="Enter @value" class="form-control" @bind="ViewModel.Company.TaxTypeNumber" />
					<ValidationMessage For="@(() => ViewModel.Company.TaxTypeNumber)"></ValidationMessage>
				</p>
			</div>
			<div class="col-md-3">
				@{
					ViewModel.AmountWithoutTax = Math.Round(100 * ViewModel.PurchasedAmount / (100 + ViewModel.VatPercentage), 3);
					ViewModel.TaxAmount = Math.Round(ViewModel.AmountWithoutTax * ViewModel.VatPercentage / 100, 3);
				}
				<p class="form-group">
					<label for="@ViewModel.PurchasedAmount">Purchased Amount<span style="color:red">*</span>: </label>
					<input type="text" id="@ViewModel.PurchasedAmount" placeholder="Enter Purchased Amount" title="Enter Purchased Amount" class="form-control" @bind="ViewModel.PurchasedAmount" />
					<ValidationMessage For="@(() => ViewModel.PurchasedAmount)"></ValidationMessage>
				</p>
				<p class="form-group">
					<label for="@ViewModel.TaxAmount">Tax Amount<span style="color:red">*</span>: </label>
					<input type="text" id="@ViewModel.TaxAmount" readonly placeholder="Enter Tax Amount" title="Enter Tax Amount" class="form-control" @bind="ViewModel.TaxAmount" />
					<ValidationMessage For="@(() => ViewModel.TaxAmount)"></ValidationMessage>
				</p>
			</div>
			<div class="col-md-3">
				<p class="form-group">
					<label for="@ViewModel.AmountWithoutTax">Amount<span style="color:red">*</span>: </label>
					<input type="text" id="@ViewModel.AmountWithoutTax" readonly placeholder="Enter Amount" title="Enter Amount" class="form-control" @bind="ViewModel.AmountWithoutTax" />
					<ValidationMessage For="@(() => ViewModel.AmountWithoutTax)"></ValidationMessage>
				</p>
				<button type="submit" class="btn btn-primary mr-3" title="Calculate company tax">Calculate</button>
				<button type="button" class="btn btn-secondary" title="Cancel calculation" @onclick="@Cancel">Cancel</button>
			</div>
		</div>
	</EditForm>
}
