﻿@page "/company/vat/all"

@inherits CompanyVatsComponentBase

@if (this.isInProgess)
{
	<HourGlass />
}
else if (this.viewModels == null && !this.isInProgess)
{
	<div class="bg-danger text-center text-white p-2 m-2">Error occured. Please try again.</div>
}
else
{
	if (this.viewModel == null)
	{
		<div>
			<button type="button" disabled="@this.isInProgess" class="small btn btn-primary" title="Calculate VAT For companyVat and It's partcular bill number" @onclick="@(e => OnAdd())">Calculate New</button>
		</div>
	}

	if (this.viewModel != null)
	{
		<CalculateCompayVatComponent OnCancel="OnCancel" OnAddSuccess="OnAddSuccess" ViewModel="this.viewModel" ViewModels="this.viewModels" />
	}

	@if (this.viewModels.Any())
	{
		<h5 class="text-center">company wise VAT(s)</h5>
		<hr />

		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>Bill No.</th>
					<th>Company Name</th>
					<th>VAT No.</th>
					<th>Purchased Amount</th>
					<th>Tax Amount</th>
					<th>Amount</th>
					<th>Creation Date</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				@foreach (CompanyVatViewModel companyVat in this.viewModels)
				{
					<tr>
						<td>@companyVat.BillNumber</td>
						<td>@companyVat.Company?.Name</td>
						<td>@companyVat.Company?.TaxTypeNumber</td>
						<td>@(Math.Round(companyVat.PurchasedAmount, 3))</td>
						<td>
							@(Math.Round(companyVat.TaxAmount, 3))
						</td>
						<td>@(Math.Round(companyVat.AmountWithoutTax, 3))</td>
						<td>
							@if (companyVat.ChangedDate.HasValue)
							{
								@companyVat.ChangedDate.Value.DateTime.ToShortDateString();
							}
							else if (companyVat.CreationDate.HasValue)
							{
								@companyVat.CreationDate.Value.DateTime.ToShortDateString();
							}
							else
							{
								@("N/A");
							}
						</td>
						<td>
							@if (this.selectedViewModel.Id != companyVat.Id)
							{
								<button type="button" class="btn btn-danger m-2" title="Delete this company" @onclick="@(e => OnDelete(companyVat))">Delete</button>
							}
							else
							{
								<span>Are you sure to delete this?</span>
								<button type="button" disabled="@this.isInProgess" class="btn btn-secondary" title="Delete this company vat for this bill" @onclick="@(e => OnYesAsync(companyVat))">Yes</button>
								<button type="button" class="btn btn-light" title="Cancel delete" @onclick="@(e => OnNo())">No</button>
							}
						</td>
					</tr>
				}
			</tbody>
			<tfoot>
				<tr>
					<td colspan="8" class="text-center"><small>Total Items Loaded - @this.viewModels.Count()</small></td>
				</tr>
				<tr>
					<td colspan="3"></td>
					<td colspan="2">Total Purchased Amount: </td>
					<td>@(Math.Round(this.viewModels.Sum(x => x.PurchasedAmount), 3))</td>
					<td></td>
				</tr>
				<tr>
					<td colspan="3"></td>
					<td colspan="2">@(Math.Round(this.viewModels.FirstOrDefault()?.VatPercentage ?? this.viewModel.VatPercentage, 3)) @("% (VAT)") Total Tax Amount: </td>
					<td>@(Math.Round(this.viewModels.Sum(x => x.TaxAmount), 3))</td>
					<td></td>
				</tr>
				<tr>
					<td colspan="3"></td>
					<td colspan="2">Total Amount: </td>
					<td>@(Math.Round(this.viewModels.Sum(x => x.AmountWithoutTax), 3))</td>
					<td></td>
				</tr>
		</tfoot>
	</table>
	}
}