﻿@inherits AddProductComponentBase

@if (this.viewModel == null || this.isInProgress)
{
	<HourGlass />
}
else
{
	<Header>
		Add New Product
	</Header>
	<Message IsSucess="@this.isSuccess">
		Product
	</Message>
	<Message IsError="@(!this.isSuccess && this.submitClicked)">
		Product
	</Message>
	<Message IsInfo="this.alreadyExists">
		Product
	</Message>

	<EditForm Model="@this.viewModel" OnValidSubmit="OnSubmit">
		<DataAnnotationsValidator />
		<ValidationSummary />
		<div class="row">
			<div class="col-md-3">
				<p class="form-group">
					<label for="@viewModel.Code">Code<span style="color:red">*</span>: </label>
					<input type="text" id="@viewModel.Code" required placeholder="Enter Code" title="Enter Code" class="form-control" @bind="viewModel.Code" />
					<ValidationMessage For="@(() => viewModel.Code)"></ValidationMessage>
				</p>
				<p class="form-group">
					<label for="@viewModel.Description">Description<span style="color:red">*</span>: </label>
					<input type="text" id="@viewModel.Description" required placeholder="Enter Description" title="Enter Description" class="form-control" @bind="viewModel.Description" />
					<ValidationMessage For="@(() => viewModel.Description)"></ValidationMessage>
				</p>
			</div>
			<div class="col-md-3">
				<p class="form-group">
					<label for="@viewModel.Size">Size: </label>
					<input type="text" id="@viewModel.Size" placeholder="Enter Size" title="Enter Size" class="form-control" @bind="viewModel.Size" />
					<ValidationMessage For="@(() => viewModel.Size)"></ValidationMessage>
				</p>
				<p class="form-group">
					<label for="@viewModel.AvailableQuantity">Available Quantity<span style="color:red">*</span>: </label>
					<input type="number" id="@viewModel.AvailableQuantity" min="0" placeholder="Enter Available Quantity" title="Enter AvailableQuantity" class="form-control" @bind="viewModel.AvailableQuantity" />
					<ValidationMessage For="@(() => viewModel.AvailableQuantity)"></ValidationMessage>
				</p>
				<p class="form-group">
					<label for="@viewModel.QuantityTypes">Type<span style="color:red">*</span>: </label>
					<select @onchange="@(e => OnChange(e.Value.ToString()))" class="form-control">
						@foreach (string type in viewModel.QuantityTypes)
						{
							<option value="@type">@type</option>
						}
					</select>
				</p>
			</div>
			<div class="col-md-3">
				<p class="form-group">
					<label for="@viewModel.QuantityTypeValue">Type Value<span style="color:red">*</span>: </label>
					<input type="number" min="1" id="@viewModel.QuantityTypeValue" required disabled="@(viewModel.QuantityType == QuantityType.PCS)" placeholder="Enter Enter Quantity Type Size" title="Enter Quantity Type Size for eg. If dozen then 12" class="form-control" @bind-value="viewModel.QuantityTypeValue" />
					<ValidationMessage For="@(() => viewModel.QuantityTypeValue)"></ValidationMessage>
				</p>
				<p class="form-group">
					<label for="@viewModel.Mrp">
						Mrp<span style="color:red">*</span>: Per @viewModel.QuantityType.ToString() Rs. @viewModel.Mrp,
						@if (viewModel.QuantityType == QuantityType.SET)
						{
							<span>
								Per PCS Rs. @{decimal mrp = viewModel.Mrp / viewModel.QuantityTypeValue;
									mrp = Math.Truncate(mrp * 1000m) / 1000m;
								}@mrp
							</span>
						}
					</label>
					<input type="number" id="@viewModel.Mrp" required placeholder="Enter Mrp" title="Enter Mrp" class="form-control" @bind-value="viewModel.Mrp" />
					<ValidationMessage For="@(() => viewModel.Mrp)"></ValidationMessage>
				</p>
				<p class="form-group">
					<label for="@viewModel.CostPrice">
						Cost Price<span style="color:red">*</span>: Per @viewModel.QuantityType.ToString() Rs. @viewModel.CostPrice,
						@if (viewModel.QuantityType == QuantityType.SET)
						{
							<span>
								Per PSC Rs. @{decimal cp = viewModel.CostPrice / viewModel.QuantityTypeValue;
									cp = Math.Truncate(cp * 1000m) / 1000m;
								}@cp
							</span>
						}
					</label>
					<input type="number" id="@viewModel.CostPrice" required placeholder="Enter Cost Price" title="Enter Cost Price" class="form-control" @bind-value="viewModel.CostPrice" />
					<ValidationMessage For="@(() => viewModel.CostPrice)"></ValidationMessage>
				</p>
			</div>
			<div class="col-md-3">
				<p class="form-group">
					<label for="@viewModel.SellingPrice">
						Selling Price<span style="color:red">*</span>: Per @viewModel.QuantityType.ToString() Rs. @viewModel.SellingPrice,
						@if (viewModel.QuantityType == QuantityType.SET)
						{
							<span>
								Per PSC Rs. @{decimal sp = viewModel.SellingPrice / viewModel.QuantityTypeValue;
									sp = Math.Truncate(sp * 1000m) / 1000m;
								}@sp
							</span>
						}
					</label>
					<input type="number" id="@viewModel.SellingPrice" required placeholder="Enter Selling Price" title="Enter Selling Price" class="form-control" @bind="viewModel.SellingPrice" />
					<ValidationMessage For="@(() => viewModel.SellingPrice)"></ValidationMessage>
				</p>
				<button type="submit" title="Save this product" class = "@DefaultCss.OkButton">Save</button>
				<button type="button" title="Cancel" class = "@DefaultCss.CancelButton" @onclick="@Cancel">Cancel</button>
			</div>
		</div>
	</EditForm>
}
