﻿@page "/product/all"
@page "/product/all/{id}"
@inherits ProductsComponentBase

@if (this.viewModels == null || this.isInProgress)
{
	<HourGlass />
}
else
{
	int colspan = 10;

	if (this.selectedViewModel == null)
	{
		<button type="button" disabled="@this.isInProgress" class="@DefaultCss.OkButton" @onclick="@(e => OnAdd())">Add New</button>
	}
	else
	{
		<AddProductComponent ViewModels="viewModels" viewModel="this.selectedViewModel" OnCancel="@OnCancel" OnAddSuccess="OnResponse" />
	}

	<Header>Products</Header>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Code<span style="color:red">*</span></th>
				<th>Description<span style="color:red">*</span></th>
				<th>Size</th>
				<th>A.Qty<span style="color:red">*</span></th>
				<th>Type</th>
				<th>Unit<span style="color:red">*</span></th>
				<th>Mrp<span style="color:red">*</span></th>
				<th>Cost Price<span style="color:red">*</span></th>
				<th>Selling Price<span style="color:red">*</span></th>
				<th width="50px">Action</th>
			</tr>
		</thead>
		<tbody>
			@foreach (ProductViewModel product in this.viewModels)
			{
				<tr class="@(product.AvailableQuantity <= 0 ? DefaultCss.BgDanger : "")" title="@(product.AvailableQuantity <= 0 ? "Product Not Available" : "Product Availabe")">
					<td class="bg-">@product.Code</td>
					<td>@product.Description</td>
					<td>@product.Size</td>
					<td>@product.AvailableQuantity</td>
					<td>@product.QuantityType.ToString()</td>
					<td>@product.QuantityTypeValue</td>
					<td>@product.Mrp</td>
					<td>@product.CostPrice</td>
					<td>@product.SellingPrice</td>
					@if (product.Id != selectedViewModel?.Id)
					{
						<td>
							<button type="button" disabled="@this.isInProgress" class="@DefaultCss.EditButton" title="Edit this" @onclick="@(e => OnEdit(product))">Edit</button>
						</td>
						<td>
							@if (this.isDelete)
							{
								<div>Are you sure to delete this?</div>
								<button type="button" disabled="@this.isInProgress" class="@DefaultCss.YesButton" title="Delete this product" @onclick="@(e => OnYes(product))">Yes</button>
								<button type="button" class="@DefaultCss.NoButton" title="Cancel delete" @onclick="@(e => OnNo())">No</button>
							}
							else if (!product.IsDeleted && !this.isDelete)
							{
								<button type="button" disabled="@this.isInProgress" class="@DefaultCss.DeleteButton" title="Delete this" @onclick="@(e => OnDelete(product))">Delete</button>
							}
							else
							{
								<button type="button" disabled="@this.isInProgress" class="@DefaultCss.RestoreButton" title="Restore this" @onclick="@(e => OnRestore(product))">Restore</button>
							}
						</td>
					}
				</tr>
			}
		</tbody>
		<tfoot>
			<tr>
				<td colspan="@colspan" class="text-center"><small>Total Items Loaded - @this.viewModels.Count()</small></td>
			</tr>
			<tr>
				<td colspan="@colspan" class="text-center">
					<button type="button" class=@DefaultCss.LoadMoreButton @onclick="@(e => OnLoadMoreAsync())" @onclick:stopPropagation="true">Load More</button>
				</td>
			</tr>
		</tfoot>
	</table>
}