﻿@page "/add-symbolic-price"
@inherits AddSymbolicPriceComponentBase


@if (this.viewModel == null || this.isInProgress)
{
	<HourGlass />
}
else
{
	<h5 class="text-center">Add Symbolic Price</h5>

	<hr />
	@if (this.isSuccess)
	{
		<h5 class="bg-success text-center text-white p-2 m-2">
			@("Symbolic Price Saved Successfully")
		</h5>
	}
	else if (!this.isSuccess && this.submitClicked)
	{
		<h5 class="bg-danger text-center text-white p-2 m-2">
			@("Symbolic Price Save Failed.")
		</h5>
	}
	else if (this.viewModels.Any(x => x.Alphabet == this.viewModel.Alphabet))
	{
		<h5 class="bg-danger text-center text-white p-2 m-2">
			@($"Symbolic Price For Alphabet: {this.viewModel.Alphabet} Already Exists.")
		</h5>
	}

	<EditForm Model="@this.viewModel" OnValidSubmit="OnSubmit">
		<DataAnnotationsValidator />
		<ValidationSummary />
		<div class="row">
			<div class="col-md-4">
				<p class="form-group">
					<label for="@viewModel.FiscalYear">Valid For Fiscal Year<span style="color:red">*</span>: </label>
					<input id="@viewModel.FiscalYear" required placeholder="Enter Fiscal Year" title="Enter Fiscal Year" class="form-control" @bind="viewModel.FiscalYear" />
					<ValidationMessage For="@(() => viewModel.FiscalYear)"></ValidationMessage>
				</p>
			</div>
			<div class="col-md-4">
				<p class="form-group">
					<label for="@viewModel .Alphabet">Alphabet<span style="color:red">*</span>: </label>
					<input type="text" id="@viewModel.Alphabet" required placeholder="Enter Alphabet" title="Enter Alphabet" class="form-control" @bind="viewModel.Alphabet" />
					<ValidationMessage For="@(() => viewModel.Alphabet)"></ValidationMessage>
				</p>
			</div>
			<div class="col-md-4">
				<p class="form-group">
					<label for="@viewModel.Value">Value<span style="color:red">*</span>: </label>
					<input type="number" id="@viewModel.Value" required placeholder="Enter Value" title="Enter Value" class="form-control" @bind="viewModel.Value" />
					<ValidationMessage For="@(() => viewModel.Value)"></ValidationMessage>
				</p>
			</div>
			<div class="col-md-4">
				<button type="submit" class="btn btn-primary" disabled="@this.viewModels.Any(x => x.Alphabet == this.viewModel.Alphabet)">Save</button>
				<button type="button" class="btn btn-secondary" @onclick="@((e) => Cancel(e))">Back</button>
			</div>
		</div>
	</EditForm>
}
