﻿@page "/symbolic-price/all"
@page "/symbolic-price/all/{Redirect}"
@inherits ShowSymbolicPriceComponentBase

@if (this.symbolicPrices == null || this.isInProgess)
{
	<HourGlass />
}
else
{
	@if (!string.IsNullOrWhiteSpace(this.Redirect))
	{
		<h5 class="bg-warning text-center p-2 m-2">
			<span>@("Redirected while adding product because no symbolic price configured. Please configure symbolic prices before adding any product(s).")</span>
		</h5>
	}

	if (this.addSymbolicPrice == null)
	{
		<div>
			<button type="button" disabled="@this.isInProgess" class="small btn btn-primary mt-4" title="Add New Product" @onclick="@(e => OnAdd())">Add New</button>
		</div>
	}

	if (this.addSymbolicPrice != null)
	{
		<AddSymbolicPriceComponent viewModel="this.addSymbolicPrice" viewModels="this.symbolicPrices" OnCancel="@OnCancel" OnAddSuccess="OnAddSuccess" />
	}

	<h5 class="text-center">Symbolic Prices</h5>
	<hr />
	<table class="table table-hover table-bordered">
		<thead class="thead-dark">
			<tr>
				<th>Fiscal Year<span style="color:red">*</span></th>
				<th>Alphabet</th>
				<th>Value<span style="color:red">*</span></th>
				<th>Deleted</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			@foreach (SymbolicPriceViewModel symbolicPrice in this.symbolicPrices)
			{
				@if (this.isEdit && this.selectedViewModel?.Id == symbolicPrice.Id)
				{
					<tr>
						<td><input type="text" @bind-value="@symbolicPrice.FiscalYear" /></td>
						<td>@symbolicPrice.Alphabet</td>
						<td><input type="text" @bind-value="@symbolicPrice.Value" /></td>
						<td>@(symbolicPrice.IsDeleted ? "Yes" : "No")</td>
						<td>
							<button type="button" class="btn btn-secondary" @onclick="@(e => OnSave(symbolicPrice))">Save</button>
							<button type="button" class="btn btn-light" @onclick="@(e => OnNo())">Cancel</button>
						</td>
					</tr>
				}
				else
				{
					<tr>
						<td>@symbolicPrice.FiscalYear</td>
						<td>@symbolicPrice.Alphabet</td>
						<td>@symbolicPrice.Value</td>
						<td>@(symbolicPrice.IsDeleted ? "Yes" : "No")</td>
						<td>
							@if (symbolicPrice.Id != selectedViewModel?.Id)
							{
								<button type="button" class="btn btn-info" title="Edit this" @onclick="@(e => OnEdit(symbolicPrice))">Edit</button>
								if (!symbolicPrice.IsDeleted)
								{
									<button type="button" class="btn btn-danger m-2" title="Delete this" @onclick="@(e => OnDelete(symbolicPrice))">Delete</button>
								}
								else
								{
									<button type="button" class="btn btn-outline-primary" title="Restore this" @onclick="@(e => OnRestore(symbolicPrice))">Restore</button>
								}
							}
							else
							{
								<span>
									<span>Are you sure to delete this symbolic price?</span>
									<button type="button" class="btn btn-secondary" @onclick="@(e => OnYes(symbolicPrice))">Yes</button>
									<button type="button" class="btn btn-light" @onclick="@(e => OnNo())">No</button>
								</span>
							}
						</td>
					</tr>
				}
			}
		</tbody>
		<tfoot>
			<tr>
				<td colspan="6" class="text-center"><small>Total Items Loaded - @this.symbolicPrices.Count()</small></td>
			</tr>
		</tfoot>
	</table>
}