﻿@page "/product/sold/add"
@page "/product/sold/add/{Redirect}"

@inherits SellProductComponentBase

@if (this.viewModels == null || this.soldProductViewModel == null || this.isInProgress)
{
	<HourGlass />
}
else
{
	if (string.IsNullOrEmpty(this.Redirect))
	{
		<h5 class="text-center" id="elementId">Sell Product</h5>
		<hr />
	}

	@if (this.isSuccess)
	{
		<h5 class="bg-success text-center text-white p-2 m-2">
			@("Product sold successfull.")
		</h5>
	}
	else if (!this.isSuccess && this.submitClicked)
	{
		<h5 class="bg-danger text-center text-white p-2 m-2">
			@($"Error occured while selling product(s). Please try again.")
		</h5>
	}
	else if (this.invalidViewModel)
	{
		<h5 class="bg-danger text-center p-2 m-2">
			@($"Selling Failed For Product: {soldProductViewModel.Product?.Code}. Please provide proper data.")
		</h5>
	}
	else if (this.isAlreadyAdded)
	{
		<h5 class="bg-info text-center text-white p-2 m-2">
			@($"Product: {soldProductViewModel.Product?.Code} already added to list. Please try other product.")
		</h5>
	}
	else if (this.alreadyAddedSolds.Any(x => x.CreationDate.Value.DateTime.ToShortDateString() == DateTime.Now.ToShortDateString() && x.Buyer != null && x.Buyer.PhoneNumber != null && x.Buyer.PhoneNumber.Trim().Contains(this.buyerPhone?.Trim()) && x.SoldProducts.Any(y => y.Product?.Code?.Trim().ToLower() == this.soldProductViewModel.Product.Code?.ToLower().Trim())))
	{
		<h5 class="bg-warning text-center p-2 m-2">
			@($"Product: {soldProductViewModel.Product?.Code} already sold for the buyer mobile no.: ${buyerPhone}. If you are willing to sell this item again to this user then please edit. Please try other product.")
		</h5>
	}
	else if (this.isEdit && this.isSuccess)
	{
		<h5 class="bg-success text-center text-white p-2 m-2">
			@($"Sold Product: {soldProductViewModel.Product?.Code} information updated.")
		</h5>
	}
	else if (this.isEdit && !this.isSuccess)
	{
		<h5 class="bg-danger text-white text-center p-2 m-2">
			@($"Sold Product: {soldProductViewModel.Product?.Code} information update failed. Please try again.")
		</h5>
	}

	bool buyerPhoneExists = users.Any(x => x.PhoneNumber.Contains(buyerPhone));
	bool sellerPhoneExists = users.Any(x => x.PhoneNumber.Contains(sellerPhone));
	buyerPhone = buyerPhoneExists ? buyerPhone : string.Empty;
	sellerPhone = sellerPhoneExists ? sellerPhone : string.Empty;

	if (!this.isInit && (!buyerPhoneExists || !sellerPhoneExists))
	{
		<h5 class="bg-warning text-center p-2 m-2">
			@($"Please add the user from ther Users menu ")<a style="text-decoration: underline" href="@LocalUrl.UserListUrl">or click here to add user(s).</a>
		</h5>
	}

	if (string.IsNullOrEmpty(this.Redirect))
	{
		<EditForm Model="@soldProductViewModel" OnValidSubmit="OnSubmit">
			<DataAnnotationsValidator />
			<ValidationSummary />
			<datalist id="descriptions">
				@foreach (ProductViewModel product in this.productViewModels)
				{
					<option value="@product.Description" />
				}
			</datalist>
			<datalist id="codes">
				@foreach (ProductViewModel product in this.productViewModels)
				{
					<option value="@product.Code" />
				}
			</datalist>
			<datalist id="users">
				@foreach (UserViewModel user in this.users)
				{
					<option value="@user.PhoneNumber" />
				}
			</datalist>
			<div class="row">
				<div class="col-md-3">
					<p class="form-group" title="Available Quantity">
						<label for="@soldProductViewModel.AvailableQuantity">Available Quantity<span style="color:red">*</span>: </label>
						<input type="number" min="0" id="@soldProductViewModel.AvailableQuantity" disabled="@(!string.IsNullOrWhiteSpace(soldProductViewModel.Product.Code))" placeholder="Available Quantity" class="form-control" @bind-value="soldProductViewModel.AvailableQuantity" />
						<ValidationMessage For="@(() => soldProductViewModel.AvailableQuantity)"></ValidationMessage>
					</p>
					<p class="form-group" title="Buyer Mobile Number">
						<label for="@buyerPhone">Buyer Mobile No.<span style="color:red">*</span>: </label>
						<input type="text" list="users" id="@buyerPhone" required placeholder="Enter Buyer Mobile No." class="form-control" @onblur="@(e => this.isInit = false)" @bind="buyerPhone" />
						<ValidationMessage For="@(() => buyerPhone)"></ValidationMessage>
					</p>
					<p class="form-group" title="Seller Mobile Number">
						<label for="@sellerPhone">Seller Mobile No.<span style="color:red">*</span>: </label>
						<input type="text" list="users" id="@sellerPhone" required placeholder="Enter Seller Mobile No." class="form-control" @onblur="@(e => this.isInit = false)" @bind="sellerPhone" />
						<ValidationMessage For="@(() => sellerPhone)"></ValidationMessage>
					</p>
				</div>
				<div class="col-md-3">
					<p class="form-group" title="Enter Product Code">
						<label for="@soldProductViewModel.Product?.Code">Enter Product Code<span style="color:red">*</span>: </label>
						<input type="text" id="@soldProductViewModel.Product?.Code" required list="codes" disabled="@isDescription" placeholder="Enter Product Code" class="form-control" @onblur="@(e => this.IsCode())" @bind="soldProductViewModel.Product.Code" />
						<ValidationMessage For="@(() => soldProductViewModel.Product.Code)"></ValidationMessage>
					</p>
					<p class="form-group" title="Enter Product Description">
						<label for="@soldProductViewModel.Product?.Description">Enter Product Description<span style="color:red">*</span>: </label>
						<input id="@soldProductViewModel.Product?.Description" required list="descriptions" disabled="@isCode" placeholder="Enter Product Description" class="form-control" @onblur="@(e => this.IsDescription())" @bind="soldProductViewModel.Product.Description" />
						<ValidationMessage For="@(() => soldProductViewModel.Product.Description)"></ValidationMessage>
					</p>
					<p class="form-group" title="Enter Sold Quantity">
						<label for="@soldProductViewModel.SoldQuantity">Sold Quantity<span style="color:red">*</span>: </label>
						<input type="number" min="1" id="@soldProductViewModel.SoldQuantity" required placeholder="Enter Quantity" class="form-control" @onkeyup="@(e => OnSoldQuantity(true))" @onclick="@(e => OnSoldQuantity(true))" @onblur="@(e => OnSoldQuantity(true))" @bind="soldProductViewModel.SoldQuantity" />
						<ValidationMessage For="@(() => soldProductViewModel.SoldQuantity)"></ValidationMessage>
					</p>
				</div>
				<div class="col-md-3">
					<p class="form-group">
						<label for="@soldProductViewModel.QuantityTypes">Type: </label>
						<InputSelect @bind-Value="soldProductViewModel.QuantityType" class="form-control">
							@foreach (string type in soldProductViewModel.QuantityTypes)
									{
								<option value="@type">@type</option>
									}
						</InputSelect>
					</p>
					<p class="form-group" title="Enter Rate">
						<label for="@soldProductViewModel.Rate">Enter Rate<span style="color:red">*</span>: </label>
						<input type="text" id="@soldProductViewModel.Rate" required placeholder="Enter Rate" class="form-control" @bind-value="soldProductViewModel.Rate" />
						<ValidationMessage For="@(() => soldProductViewModel.Rate)"></ValidationMessage>
					</p>
					<p class="form-group" title="Enter Discount  Amount">
						<label for="@soldProductViewModel.DiscountAmount">Enter Discount Amount: </label>
						<input type="text" id="@soldProductViewModel.DiscountAmount" placeholder="Enter Discount Amount" class="form-control" @bind-value="soldProductViewModel.DiscountAmount" />
						<ValidationMessage For="@(() => soldProductViewModel.DiscountAmount)"></ValidationMessage>
					</p>
				</div>
				<div class="col-md-3">
					@{
						soldProductViewModel.Amount = soldProductViewModel.SoldQuantity * (soldProductViewModel.Rate - soldProductViewModel.DiscountAmount);
						decimal discount = soldProductViewModel.SoldQuantity * soldProductViewModel.DiscountAmount;
					}
					<p class="form-group" title="Total Amount">
						<label for="@soldProductViewModel.Amount">Total Amount<span style="color:red">*</span>: </label>
						<input type="text" id="@soldProductViewModel.Amount" disabled placeholder="Total Amount" class="form-control" @bind-value="soldProductViewModel.Amount" />
					</p>
					<button type="submit" class="btn btn-primary">Add</button>
					<button type="button" class="btn btn-outline-primary" @onclick="@(e => OnCancel())">Show Sold Record</button>
				</div>
			</div>
		</EditForm>
	}
	<h5 class="text-center">Sold Products</h5>
	<hr />

	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>Serial No</th>
				<th>Description</th>
				<th>Code</th>
				<th>A. Qty</th>
				<th>Sell Qty</th>
				<th>Type</th>
				<th>Rate</th>
				<th>Discount</th>
				<th>Amount</th>
				@if (!this.isGuid)
				{
					<th>Action</th>
				}
			</tr>
		</thead>
		<tbody>
			@if (this.AddOrEditSoldViewModel != null)
			{
				int i = 0;

				@foreach (SoldProductViewModel soldProduct in this.AddOrEditSoldViewModel.SoldProducts)
				{
					<tr>
						<td>@(++i)</td>
						<td>@soldProduct.Product?.Description</td>
						<td>@soldProduct.Product?.Code</td>
						<td>@soldProduct.AvailableQuantity</td>
						<td><input type="number" min="0" max="999" id="@soldProduct.SoldQuantity" @onclick="@(e => OnSoldQuantity())" @onblur="@(e => OnSoldQuantity())" placeholder="Total Sold Quantity" class="form-control" @bind="@soldProduct.SoldQuantity" /></td>
						<td>@soldProduct.QuantityType.ToString()</td>
						<td>@soldProduct.Rate</td>
						<td><input type="text" id="@soldProduct.DiscountAmount" placeholder="Total Discount Amount" class="form-control" @bind-value="@soldProduct.DiscountAmount" /></td>
						@if (!this.isGuid || !this.isInit)
						{
							decimal amount = soldProduct.SoldQuantity * (soldProduct.Rate - soldProduct.DiscountAmount);
							soldProduct.Amount = amount;
						}
						<td>@soldProduct.Amount</td>
						<td><button type="button" class="btn btn-danger m-2" @onclick="@(e => OnDelete(soldProduct))">Delete</button></td>
					</tr>
				}
			}
			else
			{
				<tr>
					<td colspan="9" class="bg-danger text-center p-2 m-2">
						@($"Error occured while generating details of Sold Product For: {this.AddOrEditSoldViewModel.Buyer.FullName}. Please try again again.")
					</td>
				</tr>
			}
		</tbody>
		<tfoot>
			<tr>
				<td colspan="6"></td>
				<td colspan="2">Total Amount To Pay:</td>
				@if (!this.isInit || !this.isGuid)
				{
					decimal totalAmount = this.AddOrEditSoldViewModel.SoldProducts.Sum(x => x.Amount);
					decimal totalAmountAfterDiscount = totalAmount - this.AddOrEditSoldViewModel.TotalDiscountAmount;
					this.AddOrEditSoldViewModel.TotalAmount = totalAmountAfterDiscount;
				}
				<td>@this.AddOrEditSoldViewModel.TotalAmount</td>
			</tr>
			<tr>
				<td colspan="6"></td>
				<td colspan="2">Total Discount Amount:</td>
				@if (!this.isInit || !this.isGuid)
				{
					decimal totalDiscount = this.AddOrEditSoldViewModel.SoldProducts.Sum(x => x.DiscountAmount);

					if (totalDiscount > 0)
					{
						this.AddOrEditSoldViewModel.TotalDiscountAmount = totalDiscount;
					}
				}
				<td>
					<input type="text" id="@this.AddOrEditSoldViewModel.TotalDiscountAmount" @oninput="@(e => OnTotalDiscountModified())" required placeholder="Total Discount Amount" class="form-control" @bind="@this.AddOrEditSoldViewModel.TotalDiscountAmount" />
				</td>
			</tr>
			<tr>
				<td colspan="6"></td>
				<td colspan="2">Total Paid Amount:</td>
				<td>
					<input type="text" id="@this.AddOrEditSoldViewModel.TotalPaidAmount" @oninput="@(e => OnTotalPaidModified())" required placeholder="Total Paid Amount" class="form-control" @bind="@this.AddOrEditSoldViewModel.TotalPaidAmount" />
				</td>
			</tr>
			@if (!this.isInit || !this.isGuid)
			{
				decimal totalPendingAmount = this.AddOrEditSoldViewModel.TotalAmount - this.AddOrEditSoldViewModel.TotalPaidAmount;
				this.AddOrEditSoldViewModel.TotalPendingAmount = totalPendingAmount;
			}
			<tr>
				<td colspan="6"></td>
				<td colspan="2">Total Pending Amount:</td>
				<td>@this.AddOrEditSoldViewModel.TotalPendingAmount</td>
			</tr>
			<tr>
				<td colspan="9" class="text-center"><small>Total Items Loaded - @this.AddOrEditSoldViewModel.SoldProducts.Count()</small></td>
			</tr>
			<tr>
				<td colspan="9">
					@if (this.isGuid)
					{
						if (this.AddOrEditSoldViewModel.SoldProducts.Any())
						{
							<button type="button" class="btn btn-primary" @onclick="@(e => OnUpdateAsync())">
								Update
							</button>
						}

						if (this.AddOrEditSoldViewModel.SoldLogs.Any())
						{
							<button type="button" class="btn btn-info" title="Hide/Show Logs" @onclick="@(e => this.OnToggleLog())">
								@if (this.isShowLog)
								{
									<span>Hide Logs</span>
								}
								else
								{
									<span>Show Logs</span>
								}
							</button>
						}
					}
					else
					{
						<button type="button" class="btn btn-primary" @onclick="@(e => OnPrintAsync())">
							@if (this.AddOrEditSoldViewModel.SoldProducts.Any())
							{
								<span>Print</span>
							}
							else
							{
								<span>Refresh</span>
							}
						</button>
					}
					<button type="button" class="btn btn-outline-info" @onclick="@(e => OnCancel())">Show Sold Report</button>
				</td>
			</tr>
		</tfoot>
	</table>

	@if (this.isShowLog)
	{
		<SoldLogComponent ViewModels="this.AddOrEditSoldViewModel.SoldLogs" />
	}
}