﻿@page "/product/sold/all"

@inherits SoldProductsComponentBase

@if (this.viewModels == null || this.isInProgress)
{
	<HourGlass />
}
else
{
	<h5 class="text-center">Below Are Sold Products</h5>
	<hr />

	@if (!this.isSuccess)
	{
		<h5 class="bg-info text-center text-white p-2 m-2">
			<span>@($"Sold item cannot be deleted because it has dependent records i.e. sold product(s) or log(s).")</span>
		</h5>
	}

	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>Name</th>
				<th>Address</th>
				<th>Phones</th>
				<th>Emails</th>
				<th>Seller</th>
				<th>Total</th>
				<th>Total Paid</th>
				<th>Total Discount</th>
				<th>Total Pending</th>
				<th>Sold Date</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			@foreach (SoldViewModel sold in this.viewModels)
			{
				<tr style="cursor:pointer" title="Click this to show details." @onclick="@(() => OnDtails(sold))">
					<td>@sold.Buyer?.FullName</td>
					<td>@sold.Buyer?.Address</td>
					<td>@sold.Buyer?.PhoneNumber</td>
					<td>@sold.Buyer?.Email</td>
					<td>@sold.Seller?.FullName</td>
					<td>@sold.TotalAmount</td>
					<td>@sold.TotalPaidAmount</td>
					<td>@sold.TotalDiscountAmount</td>
					<td>@sold.TotalPendingAmount</td>
					<td>
						@if (sold.CreationDate.HasValue)
						{
							@sold.CreationDate.Value.DateTime.ToShortDateString();
						}
						else
						{
							@("N/A");
						}
					</td>
					<td>
						<button type="button" @onclick="@(e => OnDeleteAsync(sold))" @onclick:stopPropagation="true" class="btn btn-danger" title="Delete this log">
							Delete
						</button>
					</td>
				</tr>
			}
		</tbody>
		<tfoot>
			<tr>
				<td colspan="11" class="text-center"><small>Total Items Loaded - @this.viewModels.Count()</small></td>
			</tr>
			<tr>
				<td colspan="11">
					<button type="button" class="btn btn-primary" title="Go to Sell Product" @onclick="@(e => OnCancel())">Sell Product</button>
				</td>
			</tr>
		</tfoot>
	</table>
}
