﻿@page "/vat/calculate"
@page "/vat/calculate/{Redirect}"
@inherits CalculateVatComponentBase

@if (this.viewModels == null || this.productVatViewModel == null || this.isInProgress)
{
	<HourGlass />
}
else
{
	@if (string.IsNullOrEmpty(this.Redirect))
	{
		<h5 class="text-center" id="elementId">Tax Calculate</h5>
		<hr />
	}

	@if (this.isSuccess)
	{
		<h5 class="bg-success text-center text-white p-2 m-2">
			@("Vat Calculation successfull.")
		</h5>
	}
	else if (!this.isSuccess && this.submitClicked)
	{
		<h5 class="bg-danger text-center text-white p-2 m-2">
			@($"Error occured while printing. Please try again.")
		</h5>
	}
	else if (this.invalidViewModel)
	{
		<h5 class="bg-danger text-center text-white p-2 m-2">
			@($"Vat Calculation Failed For Product: {productVatViewModel.Product?.Code}. Please provide proper data.")
		</h5>
	}
	else if (this.isAlreadyAdded)
	{
		<h5 class="bg-info text-center text-white">
			@($"Vat Calculation Done For Product: {productVatViewModel.Product?.Code}. Please try other product.")
		</h5>
	}

	if (string.IsNullOrEmpty(this.Redirect))
	{
		<EditForm Model="@productVatViewModel" OnValidSubmit="OnSubmitAsync">
			<DataAnnotationsValidator />
			<ValidationSummary />
			<datalist id="descriptions">
				@foreach (string description in productDescriptions)
				{
					<option value="@description" />
				}
			</datalist>
			<datalist id="codes">
				@foreach (string pcode in productCodes)
				{
					<option value="@pcode" />
				}
			</datalist>
			<div class="row">
				<div class="col-md-3">
					<p class="form-group" title="Enter VAT(%)">
						<label for="@productVatViewModel.VatPercentage">Enter VAT(%)<span style="color:red">*</span>: </label>
						<input type="text" id="@productVatViewModel.VatPercentage" required placeholder="Enter VAT(%)" class="form-control" @bind-value="productVatViewModel.VatPercentage" />
						<ValidationMessage For="@(() => productVatViewModel.VatPercentage)"></ValidationMessage>
					</p>
					<p class="form-group" title="Enter Product Description">
						<label for="@productVatViewModel.Product?.Description">Enter Product Description<span style="color:red">*</span>: </label>
						<input type="text" id="@productVatViewModel.Product?.Description" required list="descriptions" placeholder="Enter Product Description" class="form-control" @bind-value="productVatViewModel.Product.Description" />
						<ValidationMessage For="@(() => productVatViewModel.Product.Description)"></ValidationMessage>
					</p>
				</div>
				<div class="col-md-3">
					<p class="form-group" title="Enter Product Code">
						<label for="@productVatViewModel.Product?.Code">Enter Product Code<span style="color:red">*</span>: </label>
						<input type="text" id="@productVatViewModel.Product?.Code" required list="codes" placeholder="Enter Product Code" class="form-control" @bind-value="productVatViewModel.Product.Code" />
						<ValidationMessage For="@(() => productVatViewModel.Product.Code)"></ValidationMessage>
					</p>
					<p class="form-group" title="Enter Quantity">
						<label for="@productVatViewModel.Quantity">Quantity<span style="color:red">*</span>: </label>
						<input type="number" min="1" id="@productVatViewModel.Quantity" required placeholder="Enter Quantity" class="form-control" @bind-value="productVatViewModel.Quantity" />
						<ValidationMessage For="@(() => productVatViewModel.Quantity)"></ValidationMessage>
					</p>
				</div>
				<div class="col-md-3">
					<p class="form-group">
						<label for="@productVatViewModel.QuantityTypes">Type: </label>
						<InputSelect @bind-Value="productVatViewModel.QuantityType" class="form-control">
							@foreach (string type in productVatViewModel.QuantityTypes)
									{
								<option value="@type">@type</option>
									}
						</InputSelect>
					</p>
					<p class="form-group" title="Enter Rate">
						<label for="@productVatViewModel.Rate">Enter Rate<span style="color:red">*</span>: </label>
						<input type="text" id="@productVatViewModel.Rate" required placeholder="Enter Rate" class="form-control" @bind-value="productVatViewModel.Rate" />
						<ValidationMessage For="@(() => productVatViewModel.Rate)"></ValidationMessage>
					</p>
				</div>
				<div class="col-md-3">
					<p class="form-group" title="Enter Discount  Amount">
						<label for="@productVatViewModel.">Enter Discount Amount: </label>
						<input type="text" id="@productVatViewModel.DiscountAmount" placeholder="Enter Discount Amount" class="form-control" @bind-value="productVatViewModel.DiscountAmount" />
						<ValidationMessage For="@(() => productVatViewModel.DiscountAmount)"></ValidationMessage>
					</p>
					@{
						decimal vatAmount = productVatViewModel.Quantity * (productVatViewModel.Rate - productVatViewModel.DiscountAmount) * productVatViewModel.VatPercentage / 100;
						decimal discount = productVatViewModel.Quantity * productVatViewModel.DiscountAmount;
						decimal taxableAmount = productVatViewModel.Quantity * (productVatViewModel.Rate - productVatViewModel.DiscountAmount);
						decimal totalAmount = productVatViewModel.Quantity * productVatViewModel.Rate + vatAmount - discount;

						productVatViewModel.TaxableAmount = Math.Round(taxableAmount, 3);
						productVatViewModel.TaxAmount = Math.Round(vatAmount);
						productVatViewModel.Amount = Math.Round(totalAmount);
					}
					<p class="form-group" title="Total Amount">
						<label for="@productVatViewModel.Amount">Total Amount<span style="color:red">*</span>: </label>
						<input type="text" id="@productVatViewModel.Amount" disabled placeholder="Total Amount" class="form-control" @bind-value="productVatViewModel.Amount" />
						<ValidationMessage For="@(() => productVatViewModel.Amount)"></ValidationMessage>
					</p>
				</div>
				<button type="submit" class="btn btn-primary">Calculate</button>
				<button type="button" class="btn btn-secondary" @onclick="@(e => OnCancel())">Cancel</button>
			</div>
		</EditForm>
	}
	<h5 class="text-center">Tax Calculated Of Below Products</h5>
	<hr />

	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>Serial No</th>
				<th>Description</th>
				<th>Code</th>
				<th>Qty</th>
				<th>Type</th>
				<th>Rate</th>
				<th>Discount</th>
				<th>Amount</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			@if (AddOrEditViewModel != null)
			{
				int i = 0;

				@foreach (ProductVatViewModel productVat in AddOrEditViewModel.ProductVats)
				{
					<tr>
						<td>@(++i)</td>
						<td>@productVat.Product?.Description</td>
						<td>@productVat.Product?.Code</td>
						<td>@productVat.Quantity</td>
						<td>@productVat.QuantityType.ToString()</td>
						<td>@(Math.Round(productVat.Rate, 3))</td>
						<td>@(Math.Round(productVat.DiscountAmount, 3))</td>
						<td>@(Math.Round(productVat.Amount, 3))</td>
						<td><button type="button" class="btn btn-danger m-2" @onclick="@(e => OnDelete(productVat))">Delete</button></td>
					</tr>
				}
			}
			else
			{
				<tr>
					<td colspan="8" class="bg-danger text-center p-2 m-2">
						@($"Error occured while generating details of Invoice No: {AddOrEditViewModel.InvoiceNumber}. Please try again again.")
					</td>
				</tr>
			}
		</tbody>
		<tfoot>
			<tr>
				<td colspan="5"></td>
				<td colspan="2">Total Taxable Amount:</td>
				<td>@(Math.Round(AddOrEditViewModel.TotalTaxableAmount, 3))</td>
			</tr>
			<tr>
				<td colspan="5"></td>
				<td colspan="2">(@(Math.Round(AddOrEditViewModel.VatPercentage, 3))) % Total VAT Amount:</td>
				<td>@(Math.Round(AddOrEditViewModel.TotalVatAmount, 3))</td>
			</tr>
			<tr>
				<td colspan="5"></td>
				<td colspan="2">Total Amount:</td>
				<td>@(Math.Round(AddOrEditViewModel.TotalAmount, 3))</td>
			</tr>
			<tr>
				<td colspan="7" class="text-center"><small>Total Items Loaded - @AddOrEditViewModel.ProductVats.Count()</small></td>
			</tr>
			<tr>
				<td colspan="7">
					<button type="button" class="btn btn-primary" @onclick="@(e => OnPrintAsync())">Print</button>
					<button type="button" class="btn btn-secondary" @onclick="@(e => OnCancel())">Cancel</button>
				</td>
			</tr>
		</tfoot>
	</table>
}

@*<script>
		window.scrollToElementId = (elementId) => {
			console.info('scrolling to element', elementId);
			var element = document.getElementById(elementId);
			if (!element) {
				console.warn('element was not found', elementId);
				return false;
			}
			element.scrollIntoView();
			return true;
		}
	</script>*@