﻿@page "/vat/all"

@inherits ShowVatsComponentBase

@if (this.viewModels == null || this.isInProgess)
{
	<HourGlass />
}
else
{
	@if (this.viewModel != null)
	{
		<CalculateVatComponent ViewModels="@this.viewModels" OnCancelSuccess="OnCancel" OnAddSuccess="OnAddSuccess" />
	}
	else if (this.viewModel == null)
	{
		<button type="button" class="btn btn-primary m-2" title="Calculate New Vat" @onclick="@(e => OnCalculate())" @onclick:stopPropagation="true">Calculate New</button>

		<h5 class="text-center">Tax Calculated Of Below Producs</h5>
		<hr />

		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>Invoice No.</th>
					<th>Calculate Date</th>
					<th>Vat %</th>
					<th>Total Taxable Amount</th>
					<th>Total Vat Amount</th>
					<th>Total Amount</th>
				</tr>
			</thead>
			<tbody>
				@foreach (VatViewModel vat in this.viewModels)
				{
					<tr @onclick="@(() => OnDtails(vat))">
						<td>@vat.InvoiceNumber</td>
						<td>
							@if (vat.CreationDate.HasValue)
							{
								@vat.CreationDate.Value.DateTime.ToShortDateString();
							}
							else
							{
								@("N/A");
							}
						</td>
						<td>@vat.VatPercentage</td>
						<td>@vat.TotalTaxableAmount</td>
						<td>@vat.TotalVatAmount</td>
						<td>@vat.TotalAmount</td>
					</tr>
				}
			</tbody>
			<tfoot>
				<tr>
					<td colspan="10" class="text-center"><small>Total Items Loaded - @this.viewModels.Count()</small></td>
				</tr>
			</tfoot>
		</table>
	}
}