﻿@page "/account/login"
@page "/"
@layout NoMenuLayout
@inherits SignInComponentBase

<FormTemplate Title="@("Sign In")" Model="@ViewModel" TModel="SignInViewModel"
	SubmitButtonText="Sign In" SubmitButtonTitle="Sign In" OnValidSubmit="OnLogInAsync">
	<Messages>
		<Message IsSucess="@this.IsSuccess" Success="@("Log in successfull. Redirecting...")"
				 IsError="!this.IsSuccess && !this.IsInit" Error="@("Username or password is invalid.")">
		</Message>
	</Messages>
	<Content>
		@{
			ViewModel.UserName = ViewModel.UserName.Trim().ToLower();
			ViewModel.Password = ViewModel.Password.Trim();
		}
		<div class="col-md-4 offset-md-4">
			<p class="form-group" title="Enter Email or Mobile Number">
				<label for="@ViewModel.UserName">Email or Phone Number<span style="color:red">*</span>: </label>
				<CustomInput type="text" id="@ViewModel.UserName" placeholder="Enter Email or Mobile Number" class="form-control" @bind-Value="ViewModel.UserName" />
				<ValidationMessage For="@(() => ViewModel.UserName)"></ValidationMessage>
			</p>
			<p class="form-group" title="Enter Password">
				<label for="@ViewModel.Password">Password<span style="color:red">*</span>: </label>
				<CustomInput type="password" id="@ViewModel.Password" placeholder="Enter Password" class="form-control" @bind-Value="ViewModel.Password" />
				<ValidationMessage For="@(() => ViewModel.Password)"></ValidationMessage>
			</p>
		</div>
	</Content>
</FormTemplate>