﻿@page "/user/signup"

@inherits SignUpComponentBase

<FormTemplate Title="@(string.IsNullOrWhiteSpace(this.ViewModel?.Id) ? "Add New User" : "Update User")" Model="@this.ViewModel" TModel="UserViewModel"
	ColOffsetCss=@DefaultCss.Offset0
	ShowCancelButton="true" OnCancelClicked="this.OnCancelClicked" OnValidSubmit="SignUpClickedAsync">
	<Messages>
		<Message IsSucess="this.IsSuccess"
				 IsError="(!this.IsSuccess && this.ViewModel == null)"
				 IsUpdateError ="this.IsUpdateFailed"
				 IsInfo="this.IsExists">
			@(this.IsExists ? ViewModel.PhoneNumber : ViewModel.FullName)
		</Message>
	</Messages>
	<Content>
		<div class="input-group">
			<div class="col-md-4">
				<p class="form-group" title="Enter Full Name">
					<label for="@ViewModel.FullName">Full Name<span style="color:red">*</span>: </label>
					<input type="text" id="@ViewModel.FullName" placeholder="Enter Full Name" class="form-control" @bind-value="ViewModel.FullName" />
					<ValidationMessage For="@(() => ViewModel.FullName)"></ValidationMessage>
				</p>
				<p class="form-group" title="Enter Phone Number(s)">
					<label for="@ViewModel.PhoneNumber">Phone Number(s)<span style="color:red">*</span>: </label>
					<input type="number" id="@ViewModel.PhoneNumber" placeholder="Enter Phone Number(s)" class="form-control" @bind-value="ViewModel.PhoneNumber" />
					<ValidationMessage For="@(() => ViewModel.PhoneNumber)"></ValidationMessage>
				</p>
			</div>
			<div class="col-md-4">
				<p class="form-group" title="Enter Address(s)">
					<label for="@ViewModel.Address">Address(s)<span style="color:red">*</span>: </label>
					<input type="text" id="@ViewModel.Address" placeholder="Enter Address(s)" class="form-control" @bind-value="ViewModel.Address" />
					<ValidationMessage For="@(() => ViewModel.Address)"></ValidationMessage>
				</p>
				<p class="form-group" title="Enter Role(s)">
					<label for="@ViewModel.Role">Role(s)<span style="color:red">*</span>: </label>
					<Roles OnChanged="this.OnRoleChanged"></Roles>
					<ValidationMessage For="@(() => ViewModel.Role)"></ValidationMessage>
				</p>
			</div>
			<div class="col-md-4">
				<p class="form-group">
					<label for="@ViewModel.Email">Emails: </label>
					<input type="text" id="@ViewModel.Email" placeholder="Enter Emails" class="form-control" @bind-value="ViewModel.Email" />
					<ValidationMessage For="@(() => ViewModel.Email)"></ValidationMessage>
				</p>
			</div>
		</div>
	</Content>
</FormTemplate>
