﻿@page "/user/all"
@inherits UsersComponentBase

<TableTemplate Title="User Information" Items="this.FilteredViewModels" IsLoading="this.IsInProgress"
			   TItem="UserViewModel" OnResponse="this.OnResponse" OnSearchMore="this.OnSearchMoreInputAsync" OnAddOrEditClick="this.AddOrEditClicked">
	<AddOrEditView>
		<SignUpComponent ViewModel="this.SelectedViewModel" ViewModels="this.ViewModels" OnResponse="this.OnResponse" OnCancelClicked="this.OnCancelClicked" />
	</AddOrEditView>
	<THs>
		<TableHeader ColumnName="@nameof(UserViewModel.FullName)" OnSearch="@(e => this.OnSearchInput(e, nameof(UserViewModel.FullName)))">
		</TableHeader>
		<TableHeader ColumnName="@nameof(UserViewModel.Email)" OnSearch="@(e => this.OnSearchInput(e, nameof(UserViewModel.Email)))">
		</TableHeader>
		<TableHeader ColumnName="@nameof(UserViewModel.PhoneNumber)" OnSearch="@(e => this.OnSearchInput(e, nameof(UserViewModel.PhoneNumber)))">
		</TableHeader>
		<TableHeader ColumnName="@nameof(UserViewModel.Address)" OnSearch="@(e => this.OnSearchInput(e, nameof(UserViewModel.Address)))">
		</TableHeader>
		<TableHeader ColumnName="@nameof(UserViewModel.Role)" IsDropdown="true" DropDownItems="new CommonService().GetRoles().Result" OnSearch="@(e => this.OnSearchInput(e, nameof(UserViewModel.Role)))">
		</TableHeader>
		<TableHeader Colspan="2" ColumnName="Action" IsInput="false"></TableHeader>
	</THs>
	<TDs Context="ViewModel">
		<td>@ViewModel.FullName</td>
		<td>@ViewModel.Email</td>
		<td>@ViewModel.PhoneNumber</td>
		<td>@ViewModel.Address</td>
		<td>@ViewModel.Role</td>
	</TDs>
</TableTemplate>
