﻿@inherits AddCompanyComponentBase

@if (this.ViewModel == null || this.isInProgress)
{
	<HourGlass />
}
else
{
	<h5 class="text-center">Add New Company</h5>
	<hr />

	@if (this.isSuccess)
	{
		<h5 class="bg-success text-center text-white p-2 m-2">
			@("Company added successfull.")
		</h5>
	}
	else if (this.alreadyExists)
	{
		<h5 class="bg-warning text-center">
			@($"Company already added. Please try another.")
		</h5>
	}
	else if (!this.isSuccess && this.ViewModel == null)
	{
		<h5 class="bg-danger text-center text-white p-2 m-2">
			@($"Adding company failed. Please try again.")
		</h5>
	}

	<EditForm Model="@this.ViewModel" OnValidSubmit="OnSubmitAsync">
		<DataAnnotationsValidator />
		<ValidationSummary />
		<div class="row">
			<div class="col-md-3">
				<p class="form-group">
					<label for="@ViewModel.Name">Name<span style="color:red">*</span>: </label>
					<input id="@ViewModel.Name" placeholder="Enter Company Name" title="Enter Company Name" class="form-control" @bind="ViewModel.Name" />
					<ValidationMessage For="@(() => ViewModel.Name)"></ValidationMessage>
				</p>
				<p class="form-group">
					<label for="@ViewModel.Description">Description<span style="color:red">*</span>: </label>
					<textarea id="@ViewModel.Description" required placeholder="Enter Description" title="Enter Description" class="form-control" @bind="ViewModel.Description" />
					<ValidationMessage For="@(() => ViewModel.Description)"></ValidationMessage>
				</p>
			</div>
			<div class="col-md-3">
				<p class="form-group">
					<label for="@ViewModel.TaxTypes">Tax Type<span style="color:red">*</span>: </label>
					<select @onchange="@(e => OnChangeTaxType(e.Value.ToString()))" class="form-control">
						@foreach (string type in ViewModel.TaxTypes)
						{
							<option value="@type">@type</option>
						}
					</select>
				</p>
				<p class="form-group">
					<label for="@ViewModel.TaxTypeNumber">@(this.ViewModel.TaxType == TaxType.PAN ? TaxType.PAN.ToString() : TaxType.VAT.ToString()) No.<span style="color:red">*</span>: </label>
					<input type="text" id="@ViewModel.TaxTypeNumber" required placeholder="@(this.ViewModel.TaxType == TaxType.PAN ? TaxType.PAN.ToString() : TaxType.VAT.ToString())" title="Enter TaxTypeNumber" class="form-control" @bind="ViewModel.TaxTypeNumber" />
					<ValidationMessage For="@(() => ViewModel.TaxTypeNumber)"></ValidationMessage>
				</p>
			</div>
			<div class="col-md-3">
				<p class="form-group">
					<label for="@ViewModel.Emails">Emails: </label>
					<input type="text" id="@ViewModel.Emails" placeholder="Enter Emails" title="Enter Emails" class="form-control" @bind="ViewModel.Emails" />
					<ValidationMessage For="@(() => ViewModel.Emails)"></ValidationMessage>
				</p>
				<p class="form-group">
					<label for="@ViewModel.Phones">Phones<span style="color:red">*</span>: </label>
					<input type="text" id="@ViewModel.Phones" placeholder="Enter Phones" title="Enter Phones" class="form-control" @bind="ViewModel.Phones" />
					<ValidationMessage For="@(() => ViewModel.Phones)"></ValidationMessage>
				</p>
			</div>
			<div class="col-md-3">
				<p class="form-group">
					<label for="@ViewModel.Address">Address<span style="color:red">*</span>: </label>
					<input type="text" id="@ViewModel.Address" placeholder="Enter Address" title="Enter Address" class="form-control" @bind="ViewModel.Address" />
					<ValidationMessage For="@(() => ViewModel.Address)"></ValidationMessage>
				</p>
				<p class="form-group">
					<label for="@ViewModel.CompanyTypes">Type<span style="color:red">*</span>: </label>
					<select @onchange="@(e => OnChangeCompanyType(e.Value.ToString()))" class="form-control">
						@foreach (string type in ViewModel.CompanyTypes)
						{
							<option value="@type">@type</option>
						}
					</select>
				</p>
			</div>
			<button type="submit" class="btn btn-primary mr-3">Save</button>
			<button type="button" class="btn btn-secondary" title="Cancel adding company" @onclick="@Cancel">Cancel</button>
		</div>
	</EditForm>
}
