﻿@page "/company/all"

@inherits CompaniesComponentBase

@if (this.isInProgess)
{
	<HourGlass />
}
else
{
	if (this.viewModel == null)
	{
		<div>
			<button type="button" disabled="@this.isInProgess" class="small btn btn-primary" title="Add New Company" @onclick="@(e => OnAdd())">Add New</button>
		</div>
	}

	if (this.viewModel != null)
	{
		<AddCompanyComponent OnCancel="OnCancel" OnAddSuccess="OnAddSuccess" ViewModel="this.viewModel" ViewModels="this.viewModels" />
	}

	<h5 class="text-center">Companies</h5>
	<hr />

	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>Name</th>
				<th>Type</th>
				<th>Description</th>
				<th>Tax Type</th>
				<th>Number</th>
				<th>Emails</th>
				<th>Phones</th>
				<th>Address</th>
				<th>Creation Date</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			@foreach (CompanyViewModel company in this.viewModels)
			{
				<tr>
					<td>@company.Name</td>
					<td>@company.Type</td>
					<td>@company.Description</td>
					<td>@company.TaxType.ToString()</td>
					<td>@company.TaxTypeNumber</td>
					<td>@company.Emails</td>
					<td>@company.Phones</td>
					<td>@company.Address</td>
					<td>
						@if (company.ChangedDate.HasValue)
						{
							@company.ChangedDate.Value.DateTime.ToShortDateString();
						}
						else if (company.CreationDate.HasValue)
						{
							@company.CreationDate.Value.DateTime.ToShortDateString();
						}
						else
						{
							@("N/A");
						}
					</td>
					<td>
						@if (this.selectedViewModel.Id != company.Id)
						{
							<button type="button" class="btn btn-danger m-2" title="Delete this company" @onclick="@(e => OnDelete(company))">Delete</button>
						}
						else
						{
							<span>Are you sure to delete this?</span>
							<button type="button" disabled="@this.isInProgess" class="btn btn-secondary" title="Delete this company" @onclick="@(e => OnYesAsync(company))">Yes</button>
							<button type="button" class="btn btn-light" title="Cancel delete" @onclick="@(e => OnNo())">No</button>
						}
					</td>
				</tr>
			}
		</tbody>
		<tfoot>
			<tr>
				<td colspan="10" class="text-center"><small>Total Items Loaded - @this.viewModels.Count()</small></td>
			</tr>
			@*<tr>
					<td colspan="9">
						<button type="button" class="btn btn-outline-primary" title="Go to calculate company VAT" @onclick="@(e => OnCancel())">Calculate Company Bill TAX</button>
					</td>
				</tr>*@
		</tfoot>
	</table>
}
