﻿@typeparam TItem

@if (this.IsLoading)
{
	<HourGlass />
}
else
{
	<Message IsError="this.Items == null"
			 IsNoItem="this.Items != null && this.Items.Count == 0">
	</Message>

	@if (this.Items != null)
	{
		if (this.selectedItem == null || this.AppStateService.IsCancelClicked)
		{
			<button type="button" class="@DefaultCss.OkButton mb-4" @onclick="@(e => this.OnAddOrEdit())">Add New</button>
		}
		else if (this.selectedItem?.ActionType == ActionType.Add || this.selectedItem?.ActionType == ActionType.Edit)
		{
			@AddOrEditView
		}

		<Header>
			@Title
		</Header>

		<table class="table table-hover table-striped">
			<thead class="@DefaultCss.BgInfo">
				@THs
			</thead>
			<tbody>
				@if (this.Items.Count == 0)
				{
					<tr>
						<td colspan="@Colspan" class="text-center font-weight-bolder">
							No Record(s)
						</td>
					</tr>
				}

				@foreach (var item in Items)
				{
					<tr>
						@TDs(item)
						@if ((this.selectedItem?.ActionType == ActionType.Delete || this.selectedItem?.ActionType == ActionType.Restore) && item.Id == selectedItem?.Id)
						{
							<td colspan="2">
								<span>
									<span>Are you sure to @this.selectedItem.ActionType.ToString().ToLower() this item?</span>
									<button type="button" class=@DefaultCss.YesButton @onclick="@(e => OnYesAsync())" @onclick:stopPropagation="true">Yes</button>
									<button type="button" class=@DefaultCss.NoButton @onclick="@(e => OnNo())" @onclick:stopPropagation="true">No</button>
								</span>
							</td>
						}
						else
						{
							<td>
								<button type="button" class=@DefaultCss.EditButton title="Edit this item" @onclick="@(e => OnAddOrEdit(item))" @onclick:stopPropagation="true">Edit</button>
							</td>
							<td>
								@if (!item.IsDeleted)
								{
								<button type="button" class=@DefaultCss.DeleteButton title="Delete this item" @onclick="@(e => OnDelete(item))" @onclick:stopPropagation="true">Delete</button>
								}
								else
								{
								<button type="button" class=@DefaultCss.RestoreButton title="Restore this" @onclick="@(e => OnRestore(item))">Restore</button>
								}
							</td>
						}
					</tr>
				}
			</tbody>
			<tfoot>
				<tr>
					@if (this.AppStateService.IsSearchMore)
					{
						<td colspan="@Colspan">
							<button type="button" class="@DefaultCss.OkButton" @onclick="this.OnSearchMore">Search More</button>
						</td>
					}
					else if(this.AppStateService.IsLoadMore)
					{
						<td colspan="@Colspan">
							<button type="button" class="@DefaultCss.OkButton" @onclick="this.OnLoadMoreAsync">Load More</button>
						</td>
					}
				</tr>
			</tfoot>
		</table>
	}
}

@code {
	private int Colspan { get; set; } = 12;
	private TItem selectedItem { get; set; }

	[Inject]
	public AppStateService AppStateService { get; set; }

	[Parameter]
	public bool IsLoading { get; set; }

	[Parameter]
	public string Title { get; set; }

	[Parameter]
	public RenderFragment AddOrEditView { get; set; }

	[Parameter]
	public RenderFragment THs { get; set; }

	[Parameter]
	public RenderFragment<TItem> TDs { get; set; }

	[Parameter]
	public IReadOnlyList<TItem> Items { get; set; }

	[Parameter]
	public EventCallback<TItem> OnResponse { get; set; }

	[Parameter]
	public EventCallback<TItem> OnAddOrEditClick { get; set; }

	[Parameter]
	public EventCallback OnSearchMore { get; set; }

	protected override Task OnInitializedAsync()
	{
		this.AppStateService.OnChange += this.StateHasChanged;
		return base.OnInitializedAsync();
	}

	private async Task OnAddOrEdit(TItem item = null)
	{
		if (item == null)
		{
			this.selectedItem = new TItem();
			this.selectedItem.ActionType = ActionType.Add;
		}
		else
		{
			this.selectedItem = item;
			this.selectedItem.ActionType = ActionType.Edit;
		}

		this.AppStateService.IsCancelClicked = false;
		await this.OnAddOrEditClick.InvokeAsync(item);
	}

	private void OnDelete(TItem item)
	{
		this.selectedItem = item;
		this.selectedItem.ActionType = ActionType.Delete;
		this.StateHasChanged();
	}

	private void OnRestore(TItem item)
	{
		this.selectedItem = item;
		this.selectedItem.ActionType = ActionType.Restore;
		this.StateHasChanged();
	}

	private async Task OnLoadMoreAsync()
	{
		this.selectedItem = new TItem();
		this.selectedItem.ActionType = ActionType.LoadMore;
		await this.OnResponse.InvokeAsync(this.selectedItem);
	}

	private async Task OnYesAsync()
	{
		await this.OnResponse.InvokeAsync(this.selectedItem);
	}

	private void OnNo()
	{
		this.selectedItem = null;
	}
}
