﻿<th colspan="@Colspan">
	<label for="@ColumnName">@ColumnName</label>

	@if (this.IsInput)
	{
		<input type="text" placeholder="Please enter 3 characters to search" class="form-control" @oninput="OnSearch" />
	}
	else if(this.IsDropdown)
	{
		<select class="form-control" @onchange="this.OnSearch">
			<option selected>--Please Select--</option>
			@foreach (var item in this.DropDownItems)
			{
				<option>@item</option>
			}
		</select>
	}
</th>

@code {
	[Parameter]
	public int Colspan { get; set; }

	[Parameter]
	public string ColumnName { get; set; }

	/// <summary>
	/// Default is true.
	/// </summary>
	[Parameter]
	public bool IsInput { get; set; } = true;

	[Parameter]
	public bool IsDropdown { get; set; }

	[Parameter]
	public List<string> DropDownItems { get; set; }

	[Parameter]
	public EventCallback<ChangeEventArgs> OnSearch { get; set; }
}
