﻿@page "/sold/logs/{Redirect}"
@inherits SoldLogComponentBase

@if (this.isInProgress)
{
	<HourGlass />
}
else if (!this.isInProgress && this.ViewModels == null)
{
	<div class="bg-danger text-center text-white p-2 m-2">Error occured. Please try again later.</div>
}
else if (!this.isSuccess)
{
	<div class="bg-danger text-center text-white p-2 m-2">Error occured while deleting. Please try again later.</div>
}
else
{
	<h5 class="text-center">Logs</h5>
	<hr />

	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>Total Discount Amount</th>
				<th>Total Amount</th>
				<th>Total Paid Amount</th>
				<th>Total Pending Amount</th>
				<th>Modified Date</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			@foreach (SoldLogViewModel log in this.ViewModels)
			{
				<tr>
					<td>@log.TotalDiscountAmount</td>
					<td>@log.TotalAmount</td>
					<td>@log.TotalPaidAmount</td>
					<td>@log.TotalPendingAmount</td>
					<td>
						@if (log.CreationDate.HasValue)
						{
							@log.CreationDate.Value.DateTime.ToShortDateString();
						}
						else
						{
							@("N/A");
						}
					</td>
					<td>
						<button type="button" @onclick="@(e => OnDeleteAsync(log))" class="btn btn-danger" title="Delete this log">
							Delete
						</button>
					</td>
				</tr>
			}
		</tbody>
		<tfoot>
			<tr>
				<td colspan="6" class="text-center"><small>Total Items Loaded - @this.ViewModels.Count()</small></td>
			</tr>
		</tfoot>
	</table>
}
