﻿<div>
	<button type="button" disabled="@this.IsDisabled" @attributes="Attributes" @onclick="@(e => this.CallMe(e))">@ChildContent</button>
</div>

@code {
	[Parameter]
	public bool IsDisabled { get; set; }

	[Parameter]
	public RenderFragment ChildContent { get; set; }

	[Parameter]
	public EventCallback<object> OnClick { get; set; }

	[Parameter]
	public Dictionary<string, object> Attributes { get; set; } = new Dictionary<string, object>()
	{
		{ "class", "small btn btn-primary" },
		{ "title", "Add New" },
	};

	private async Task CallMe(object args)
	{
		this.IsDisabled = true;
		await this.OnClick.InvokeAsync(args);
	}
}
