﻿@if (this.IsSideMenu)
{
	<div class="spinner"></div>
}
else
{
	<div id="hourGlassId" class="maskContainer" style="position: fixed; top: 0px; left: 0px; z-index: 999999999; width: 100%; height: 100%;">
		<div class="maskdivgen" style="width:100%;height:100%;background-color:#ccc;opacity:.3;margin:0;padding:0"></div>
		<div style="position:absolute;@(this.IsNormal ? "padding:2px;" : "")cursor:wait;top:50%;left:50%">
			<div style="line-height:18px;font-weight:bold">
				<img src="@(this.IsNormal ? "/images/loading_1.gif" : "/images/load.gif")" style="display:block;text-align:center;margin:0 auto; border-radius:50px;" width="70" height="70" />
			</div>
		</div>
	</div>
}

@code {
	[CascadingParameter(Name = nameof(CascadingParameterName.NormalHourGlass))]
	public bool IsNormal { get; set; }
	
	[CascadingParameter(Name = nameof(CascadingParameterName.SideMenu))]
	public bool IsSideMenu { get; set; }
}
