﻿@inherits LayoutComponentBase

<CascadingValue Value="isNormal" Name="@CascadingParameterName.NormalHourGlass">
	<CascadingValue Value="isSideMenu" Name="@CascadingParameterName.SideMenu">
		<NavMenu />

		<div class="main">
			<form class="top-row px-4" method="post" action="@configuration.GetSection("WebApiUrl:Url")/api/user/logout">
				<button type="submit">Log Out</button>
			</form>
			<div class="@(this.isSideMenu ? "content px-4" : "content-top")">
				@Body
			</div>
		</div>
	</CascadingValue>
</CascadingValue>

@code {
	[Inject]
	private IConfiguration configuration { get; set; }

	private bool isNormal => configuration.GetSection("Menu:TopMenu:IsNormal").Value == "True";

	private bool isSideMenu => configuration.GetSection("Menu:SideMenu:Show").Value == "True";

}