﻿@if (this.IsSideMenu)
{
	<div class="sidebar">
		<div class="top-row pl-4 navbar navbar-dark">
			<a class="navbar-brand" href="">Shop Management</a>
			<button class="navbar-toggler" @onclick="ToggleNavMenu">
				<span class="navbar-toggler-icon"></span>
			</button>
		</div>

		<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
			<ul class="nav flex-column">
				<li class="nav-item px-3">
					<NavLink class="nav-link" href="@LocalUrl.ProductListUrl">
						<span class="oi oi-home" aria-hidden="true"></span> Products
					</NavLink>
				</li>
				<li class="nav-item px-3">
					<NavLink class="nav-link" href="@LocalUrl.SoldProductListUrl">
						<span class="oi oi-list-rich" aria-hidden="true"></span> Sold Products
					</NavLink>
				</li>
				<li class="nav-item px-3">
					<NavLink class="nav-link" href="@LocalUrl.SymbolicPriceListUrl">
						<span class="oi oi-plus" aria-hidden="true"></span> Symbolic Prices
					</NavLink>
				</li>
				<li class="nav-item px-3">
					<NavLink class="nav-link" href="@LocalUrl.UserListUrl">
						<span class="oi oi-people" aria-hidden="true"></span> Users
					</NavLink>
				</li>
				<li class="nav-item px-3">
					<NavLink class="nav-link" href="@LocalUrl.CompanyListUrl">
						<span class="oi oi-globe" aria-hidden="true"></span> Company
					</NavLink>
				</li>
				<li class="nav-item px-3">
					<NavLink class="nav-link" href="@LocalUrl.CompanyVatListUrl">
						<span class="oi oi-calculator" aria-hidden="true"></span> Company VATs
					</NavLink>
				</li>
				<li class="nav-item px-3">
					<NavLink class="nav-link" href="@LocalUrl.CalculateVatUrl">
						<span class="oi oi-bar-chart" aria-hidden="true"></span> VAT
					</NavLink>
				</li>
			</ul>
		</div>
	</div>
}
else
{
	<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3 fixed-top">
		<div class="container">
			<a class="navbar-brand" href="/">Home</a>
			<button class="navbar-toggler" @onclick="ToggleNavMenu" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
					aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="@NavMenuCssClass navbar-collapse d-sm-inline-flex flex-sm-row-reverse" @onclick="CollapseNavMenu">
				<ul class="navbar-nav flex-grow-1">
					<li class="nav-item">
						<a class="nav-link text-light" href="@LocalUrl.ProductListUrl">Products</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-light" href="@LocalUrl.SoldProductListUrl">Sold Products</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-light" href="@LocalUrl.SymbolicPriceListUrl">Symbolic Price</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-light" href="@LocalUrl.UserListUrl">Users</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-light" href="@LocalUrl.CompanyListUrl">Company</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-light" href="@LocalUrl.CompanyVatListUrl">Company VAT</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-light" href="@LocalUrl.VatListUrl">VAT</a>
					</li>
				</ul>
			</div>

			<ul class="nav navbar-nav navbar-right">
				<li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
				<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
			</ul>
		</div>
	</nav>
}

@code {
	[CascadingParameter(Name = nameof(CascadingParameterName.SideMenu))]
	public bool IsSideMenu { get; set; }

	private bool collapseNavMenu = true;

	private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}

	void CollapseNavMenu()
	{
		collapseNavMenu = true;
	}
}
