﻿<datalist class="form-control">
	@foreach (var user in this.Users)
	{
		<option>@user.PhoneNumber</option>
	}
</datalist>

@code {
	[Inject]
	private UserManagementService service { get; set; }

	[Parameter]
	public IReadOnlyList<UserViewModel> Users { get; set; }

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (this.Users == null)
		{
			this.Users = await this.service.GetUsersAsync();
			this.StateHasChanged();
		}
	}
}
