﻿<select class="form-control" @onchange="this.OnChanged">
	@foreach(var role in this.User.Roles)
	{
		if(this.User.Role == role)
		{
			<option selected>@role</option>
		}
		else
		{
			<option>@role</option>
		}
	}
</select>

@code {
	[Parameter]
	public UserViewModel User { get; set; }

	[Parameter]
	public EventCallback<ChangeEventArgs> OnChanged { get; set; }

	protected override void OnInitialized()
	{
		if(this.User == null)
		{
			this.User = new UserViewModel();
		}

		base.OnInitialized();
	}
}
